doctype html
html
	head
		title My Dashboard
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/index.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		div.jumbotron.text-center
			h1 My Dashboard
		div.container
			div.row
				div.col-sm-3
					h3="Movie List"
					ul
						for dbresitem in dbres
							li=dbresitem
				div.col-sm-3
					h3="File Output"
					p=fileres
				div.col-sm-3
					h3="RSS Feed"        
					p=RSSresults
				div.col-sm-3
					h3="Add a Movie"
					form(action = '/', method = 'POST')
						label(for = 'mname') Movie Name: 
						input(name = 'mname')
						button(type = "submit") Create new Movie
					p(style='color:red')=statustxt